/* General */
body {
  background: white;
  font-family: SF Pro Display;
  width: 100%;
  margin: 0;
  text-align: center;
}

.main-content {
  width: 100%;
}

.wrap {
  width: 100%;
}

/* Search Bar */
.search {
  width: 60%;
  margin: 0 auto;
  font-family: SF Pro Display;
  box-sizing: border-box;

}

/* Search Bar Input */
.searchTerm {
  width: 98%;
  outline-offset: -30px;
  border: 2px solid #1DA1F2;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: grey;
  font-family: SF Pro Display;
  outline-offset: -30px;
}

.searchTerm:focus{
  color: grey;
  font-family: SF Pro Display;
}


/* Title Text and Animation*/
.rise-text {
  padding: 0px;
  border: 100px solid #1DA1F2;
  text-align: center;
  width: 90%;
  font-size: 40px;
}

/* Lower Title Text */
.simple-text {
  padding: 0px;
  text-align: center;
  width: 90%;
  font-size: 20px;
  margin: 25px auto 0 auto;
}

/* h1 Text */
h1 {
  background-color: #1DA1F2;
  color: white;
  font-size: x-large;
  text-align: center;
  font-size: 60px;
  margin-top: 0;
}

/* Button Styling*/
button{display: block;}
button{display: in;}

/* Categories Box */
.categories-box{
  width: 60%; min-height: 50px; padding: 30px 0 0 30px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  }

/* Categories Buttons */
.btnCAT {
  background-color: #1DA1F2; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 9px solid transparent;
  border-radius: 5px;
  padding: 5px 20px;
  margin: auto 15px;
  cursor: pointer;
  flex-grow: 3;
}

.btnCAT:hover {
  background-color: #2a7bad;
}

#topic-title {
  width: 60%;
  margin: 50px auto 25px auto;
  font-size: 32px;
  text-align: left;
}

#error {
  margin-top: 50px;
}


#all-tweets-div {
  margin-top: 25px;
}

.tweetInfo {
  margin: 15px 0;
  width: 60%;
  text-align: left;
  margin: 15px auto;
  padding: 10px 0 10px 10px;
  border: 2px solid #2a7bad;
  border-radius: 4px;
}

.tweetUsername {
  font-size: 25px;
  padding-bottom: 10px;
}

.tweetLocation {
  font-size: 25px;
  padding-bottom: 10px;
}
